{% extends 'base.html.twig' %}

{% block title %}New Casa{% endblock %}

{% block body %}
    <h1>Create new Casa</h1>

    {{ include('casa/_form.html.twig') }}

    <a href="{{ path('casa_index') }}">back to list</a>
{% endblock %}
