{% extends 'base.html.twig' %}

{% block title %}CasetaSanitaria index{% endblock %}

{% block body %}
    <h1>CasetaSanitaria index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for caseta_sanitarium in caseta_sanitarias %}
            <tr>
                <td>{{ caseta_sanitarium.id }}</td>
                <td>
                    <a href="{{ path('caseta_sanitaria_show', {'id': caseta_sanitarium.id}) }}">show</a>
                    <a href="{{ path('caseta_sanitaria_edit', {'id': caseta_sanitarium.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('caseta_sanitaria_new') }}">Create new</a>
{% endblock %}
