{% extends 'base.html.twig' %}

{% block title %}CasetaSanitaria{% endblock %}

{% block body %}
    <h1>CasetaSanitaria</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ caseta_sanitarium.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('caseta_sanitaria_index') }}">back to list</a>

    <a href="{{ path('caseta_sanitaria_edit', {'id': caseta_sanitarium.id}) }}">edit</a>

    {{ include('caseta_sanitaria/_delete_form.html.twig') }}
{% endblock %}
