{% extends 'base.html.twig' %}

{% block title %}Pararrayo index{% endblock %}

{% block body %}
    <h1>Pararrayo index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for pararrayo in pararrayos %}
            <tr>
                <td>{{ pararrayo.id }}</td>
                <td>
                    <a href="{{ path('pararrayo_show', {'id': pararrayo.id}) }}">show</a>
                    <a href="{{ path('pararrayo_edit', {'id': pararrayo.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('pararrayo_new') }}">Create new</a>
{% endblock %}
