{{ form_start(form, {'attr': {'class': 'update-form'}}) }}
    {{ form_widget(form) }}
    <a href="#" title="Guardar Cambios" onclick="$('.update-form').submit();">
        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
    </a>
{{ form_end(form) }}
