{% extends 'base.html.twig' %}
{% set title_label = "Añadir Nuevo Proyecto" %}
{% block title %}{{ title_label }}{% endblock %}
{% block body %}
    <h1><a href="{{ path('proyecto_index') }}" title="Ir a Gestiona Proyecto">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{{ title_label | upper }}</h1>
    {{ include('proyecto/_form.html.twig') }}
{% endblock %}
