{% extends 'base.html.twig' %}

{% block title %}Edit Propietario{% endblock %}

{% block body %}
    <h1>Edit Propietario</h1>

    {{ include('propietario/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('propietario_index') }}">back to list</a>

    {{ include('propietario/_delete_form.html.twig') }}
{% endblock %}
