{% extends 'base.html.twig' %}

{% block title %}Edit Comuna{% endblock %}

{% block body %}
    <h1>Edit Comuna</h1>

    {{ include('comuna/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('comuna_index') }}">back to list</a>

    {{ include('comuna/_delete_form.html.twig') }}
{% endblock %}
