{% extends 'base.html.twig' %}
{% set title_label = "Añadir Nueva Comuna" %}
{% block title %}{{ title_label }}{% endblock %}
{% block body %}
    <h1><a href="{{ path('comuna_index') }}" title="Ir a Gestiona Comunas">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{{ title_label | upper }}</h1>
    {{ include('comuna/_form.html.twig') }}
{% endblock %}
