body {
    /*background-color: lightgray;*/
}

.new-footer {
    background: url('../../assets/images/new_footer.png') no-repeat;
    background-size: cover;
    width: auto;
}

.jumbotron{
    background: #FFFFFF;
    border: 2px solid #FFC107;
    margin-top: 20px;
}
