body {
    /*background-color: lightgray;*/
}

.new-footer {
    background: url('../../assets/images/new_footer.png') no-repeat;
    background-size: cover;
    width: auto;
}

.jumbotron{
    background: #FFFFFF;
    border: 2px solid #FFC107;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 100vh;
    border: 1px solid Aqua;
}

#map-iframe {
    width: 100%;
    height: 100vh;
    border: 1px solid Aqua;
}

a {
    text-decoration: none;   
}

.ficha-border {
    border: 2px solid black;
}