{% extends 'base.html.twig' %}

{% block title %}New Subsector{% endblock %}

{% block body %}
    <h1>Create new Subsector</h1>

    {{ include('subsector/_form.html.twig') }}

    <a href="{{ path('subsector_index') }}">back to list</a>
{% endblock %}
