{% extends 'base.html.twig' %}

{% set title_label = "Crear nueva Provincia" %}
{% block title %}{{ title_label }}{% endblock %}

{% block body %}
    <h1>{{ title_label }}</h1>

    {{ include('provincia/_form.html.twig') }}

    <a href="{{ path('provincia_index') }}" title="Ir a Gestión Provincias">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </a>
{% endblock %}
