{% extends 'base.html.twig' %}
{% set title_label = "Añadir Provincia" %}
{% block title %}{{ title_label }}{% endblock %}
{% block body %}
    <h1><a href="{{ path('provincia_index') }}" title="Ir a Gestión Provincias">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>{{ title_label | upper }}</h1>
    {{ include('provincia/_form.html.twig') }}
{% endblock %}
