<!DOCTYPE html>
<html>
    <head lang="es">
        <meta charset="UTF-8">
        <title>{% block title %}Bienvenido al Observatorio Comunal (Beta){% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        {% endblock %}
        {#        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />#}
        <link rel="icon" type="image/x-icon" href="https://imputre.cl/wp-content/uploads/2019/03/cropped-Logo-Municipalidad-de-Putre-01-180x180.png" />
    </head>
    <body

        {% block header %}
            <header class=" border-bottom">
                <div class="collapse bg-warning" id="navbarHeader">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-8 col-md-7 py-4">
                                <h4 class="text-white">Observatorio Comunal (&beta;eta)</h4>
                                <p class="text-muted">
                                    Esta Web de Demostración (demo) nace como una necesidad, de la Ilustre Municipalidad de Putre, de 
                                    tener disponible la información actualizada para los funcionarios, sobre los distintos proyectos que 
                                    se ejecutan, los datos censales y de los pobladores de sus lejanas localidades rurales. Consta de un 
                                    backoffice, donde se gestiona toda la información y de un portal Web donse se consulta dicha información.
                                </p>
                            </div>
                            <div class="col-sm-4 offset-md-1 py-4">
                                <h4 class="text-white">Accesos Directos</h4>
                                <ul class="list-unstyled">
                                    <li><a href="/subsector" class="text-white">Consultar Datos</a></li>
                                    <li><a href="/manager" class="text-white">Gestionar Información</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="navbar navbar-dark bg-warning shadow-sm">
                    <div class="container d-flex justify-content-between">
                        <a href="/" class="navbar-brand d-flex align-items-center">
                            <img src="https://imputre.cl/wp-content/uploads/2019/03/cropped-Logo-Municipalidad-de-Putre-01-32x32.png" width="20" height="20" viewBox="0 0 24 24" class="mr-2" />
                            <strong>Observatorio Comunal - Ilustre Municipalidad de Putre</strong>
                        </a>
                        <form class="form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="¿Que desea buscar?" aria-label="Buscar">
                            <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Buscar</button>
                        </form>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>
                </div>
            </header>
        {% endblock %}
            <div class="container">
                <section class="jumbotron text-center">
                    {% block body %}{% endblock %}
                </section>
            </div>
        

        {% block footer %}
            <footer class="text-center new-footer border-top">
                <div class="row pt-4 my-md-5 pt-md-5 ">
                    <div id="text-muted" class="col-12 col-mb">
                        <p>&copy; {{ 'now'|date('Y') }} <img class="mb-2" src="https://imputre.cl/wp-content/uploads/2019/03/cropped-Logo-Municipalidad-de-Putre-01-32x32.png" alt width="24" height="24"> Ilustre Municipalidad de Putre - Todos los derechos reservados.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12"></div>
                </div>
                <div class="row">
                    <div class="col-12"></div>
                </div>
                <div class="row">
                    <div class="col-12"></div>
                </div>
            </footer>
        {% endblock %}
        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        {% endblock %}

    </body>
</html>
