{% extends 'base.html.twig' %}
{% block title %}Editar Región{% endblock %}

{% block body %}
    <h1><a href="{{ path('provincia_index') }}" title="Ir a Gestión Regiones">
            <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span></a>Editar Región</h1>
        {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}
        {{ include('region/_delete_form.html.twig') }}
        {{ include('region/_form.html.twig')  }}
{% endblock %}
