<form method="post" action="{{ path('servicio_luz_delete', {'id': servicio_luz.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ servicio_luz.id) }}">
    <button class="btn">Delete</button>
</form>
