{% extends 'base.html.twig' %}

{% block title %}Observatorio Regional{% endblock %}

{% block body %}
    <h1>Bienvenido a la nueva Pagina del Observatorio Regional</h1>

    <strong>Acceder a Consulta de Datos</strong>
    <strong>Acceder a Gestión de la Información</strong>
{% endblock %}
