{% extends 'base.html.twig' %}
{% block body %}
    <div class="card-deck">
        <div class="col d-flex justify-content-center col-sm-6">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <div class="card-body">
                    <a href="/consulta" class="btn btn-warning">Consulta Información</a>
                </div>
            </div>
        </div>
        <div class="col d-flex justify-content-center col-sm-6">
            <div class="card text-center border-warning mb-3" style="width: 18rem;">
                <div class="card-header border-warning">Acceder a:</div>
                <div class="card-body">
                    <a href="/manager" class="btn btn-warning">Gestión Información</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}






