{% extends 'base.html.twig' %}

{% block title %}Bienvenido al nuevo Observatorio Comunal{% endblock %}

{% block body %}     
    <h1>Observatorio Comunal</h1>
    <br />
    <br />
    <a class="btn btn-primary" href="/subsector" role="button">Consulta de Datos</a>
    <a class="btn btn-primary" href="/proyecto" role="button">Gestión de Proyectos</a>
    <a class="btn btn-secondary" href="/localidad" role="button">Gestión de las Localidades</a>
{% endblock %}





    
