{% extends 'base.html.twig' %}

{% block title %}Observatorio Regional{% endblock %}

{% block body %}     
    <h1>Bienvenidos al nuevo Observatorio Comunal</h1>
    <h2>Áreas</h2>
    <a class="btn btn-primary" href="/subsector" role="button">Consulta de Datos</a>
    <a class="btn btn-secondary" href="/localidad" role="button">Gestión de las Localidades</a>
{% endblock %}





    
