{% extends 'base.html.twig' %}

{% block title %}Observatorio Regional{% endblock %}

{% block body %}
    <h1>Bienvenido a la consulta de datos del Observatorio Regional de Putre</h1>

    <strong>Hola Mundo</strong>
{% endblock %}
